<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ch4u.workbook.mapper.WorkSheetMapper">
    <insert id="updateOrSave">
    <selectKey keyProperty="id" order="AFTER" resultType="int">
        select id from workSheet where mid=#{mid} and workDate=#{workDate}
    </selectKey>
        INSERT into workSheet(mid,workDate,workStatus)
        VALUES(#{mid},#{workDate},#{workStatus})
        on DUPLICATE key UPDATE workStatus=#{workStatus}
    </insert>

</mapper>
